<header class="p-3 mb-3 border-bottom bg-light">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a routerLink="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        ESDLALCG.es
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" routerLink="/buscador" class="nav-link px-2 link-dark">Cartas</a></li>
        <li><a href="#" routerLink="/mazos" class="nav-link px-2 link-dark">Mazos</a></li>
        <li class="nav-item dropdown link-dark">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Retos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" routerLink="/retos">Listado</a></li>
            <li><a class="dropdown-item" href="#" routerLink="/reto/crear">Crear</a></li>
          </ul>
        </li>
        <li><a href="#" class="nav-link px-2 link-dark">Recursos</a></li>
      </ul>
      
      <div *ngIf="!authService.userData then loginRegister else dropdownUser"></div>

      <ng-template #loginRegister>
          <button type="button" class="btn btn-primary me-2" routerLink="/registro"><i class="fa-solid fa-pen-to-square"></i> Registrarse</button>
          <button type="button" class="btn btn-outline-primary " routerLink="/login"><i class="fa-solid fa-power-off"></i> Identificarse</button>
      </ng-template>

      <ng-template #dropdownUser>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">{{ authService.userData.displayName }}</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </ng-template>
    </div>
  </div>
</header>