<main role="main">

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Bienvenido a la Tierra Media</h1>
        <p>En esta humilde web encontrarás información y una comunidad relacionada con el juego El Señor de los Anillos LCG. Publicado por <a href="http://www.fantasyflightgames.es/">Fantasy Flight Games</a>.</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Comunidad</h2>
          <p>Te invitamos a entrar en el foro de la comunidad y compartir cualquier contenido; alguna anécdota con el juego, dudas, material que hayas creado, crónica de tu última partida. Estaremos encantados.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Ir al foro <i class="fa-solid fa-arrow-right"></i></a></p>
        </div>
        <div class="col-md-4">
          <h2>Cartas</h2>
          <p>Con nuestra base de datos de cartas podrás encontrar de forma rápida esas cartas que necesitas para terminar de pulir tu mazo, o de qué ciclo era esa versión de Aragorn que tan buen resultado te dió.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Buscar cartas <i class="fa-solid fa-arrow-right"></i></a></p>
        </div>
        <div class="col-md-4">
          <h2>Recursos</h2>
          <p>Tenemos habilitada una sección de descargas donde están actualizadas las últimas ayudas para el juego. Desde las FAQ, secuencias de turno y otros recursos compartidos por gente de la comunidad.</p>
          <p><a class="btn btn-secondary" href="#" role="button">Ver recursos <i class="fa-solid fa-arrow-right"></i></a></p>
        </div>
      </div>

      <hr>

    </div>

  </main>